.c9
.*
!.gitignore
!.perltidyrc
*~
man
inc
bin
log
blib
Makefile*
!Makefile.PL
*META.*
MANIFEST*
!MANIFEST.SKIP
pm_to_blib
*.bak
hypnotoad*
context.db
context.log
context.lock*
context.pid
.context.setup
.DS_Store
lib/perl5
lib/perl6

