{ 
    "name" : "Context Default Configuration File.",

    "content" :
    {
        "views" :            
        {
            
            "enabled" : ["articles", "photos", "videos", "shop"],
            
            "articles" :
            {   
                "name" : "Articles",
                "description" : "A lengthy description of this view.",
                "url"   : "/articles"
            },
            "photos" :
            {   
                "name" : "Photos",
                "description" : "A lengthy description of this view.",
                "url"   : "/photos"
            },
            "videos" :
            {   
                "name" : "Videos",
                "description" : "A lengthy description of this view.",
                "url"   : "/videos"
            },
            "shop" :
            {   
                "name" : "Shop",
                "description" : "A lengthy description of this view.",
                "url"   : "/shop"            
            }
        }
    }
}
